@model List<TestCRUD.Models.Credentials>

<div class="login-layer">
	<form method="post" asp-controller="Credentials" asp-action="Login">
		<div class="row">
			<div class="col">
				<div class="form-floating">
					<input type="text" class="form-control" id="userlog" name="userlog" placeholder="Login" required />
					<label for="userlog">Username</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-floating">
					<input type="password" class="form-control" id="passwordlog" name="passwordlog" placeholder="Password" required />
					<label for="passwordlog">Password</label>
				</div>
			</div>
		</div>
		<div class="row pt-3 pb-2">
			<div class="col">
				<button type="submit" id="registerButton" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;" disabled>Register</button>
			</div>
		</div>
	</form>
</div>