@model List<TestCRUD.Models.Credentials>

<div class="register-layer">
	<form method="post" asp-controller="Credentials" asp-action="Register">
		<div class="row">
			<div class="col">
				<div class="form-floating">
					<input type="text" class="form-control" id="userreg" name="userreg" placeholder="Login" required />
					<label for="userreg">Username</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-floating">
					<input type="text" class="form-control" id="typereg" name="typereg" placeholder="Password" required />
					<label for="typereg">User Type</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-floating">
					<input type="password" class="form-control" id="passreg" name="passreg" placeholder="Password" required />
					<label for="passreg">Password</label>
				</div>
			</div>
		</div>
		<div class="row pt-3 pb-2">
			<div class="col">
				<button type="submit" id="registerButton" class="dbuttonlbls text-white border-0 text-decoration-none rounded-1" style="background-color: #3ECCB5;" disabled>Register</button>
			</div>
		</div>
	</form>
</div>